<div class="w-80-l w-100 mt5 pa4 bt b--near-white flex-l flex-row-l" id="#contact">
  <div class="w-100 w-40-l">
    <h3 class="f6 fw7 ttu gray lh-title">
      {{ include.message }}
      &bull; <a href="{{ include.url }}" class="red-al link dim">{{ include.switch }}</a>
    </h3>
    <p class="lh-copy gray">
      &#9990;&#xFE0E; <a href="tel:+351210992855" class="gray link dim">+351 210 992 855 (PT)</a>
      <br/>
      &#9990;&#xFE0E; <a href="tel:+971585623323" class="gray link dim">+971 585 623 323 (UAE)</a>
      <br/>
      &commat;&#xFE0E; <a href="mailto:contact@azevedolegal.com" class="gray link dim">contact@azevedolegal.com</a>
      <br/>
      &#128205;&#xFE0E; <a href="https://goo.gl/maps/Rn8tZc11ub42" class="gray link dim">Rua Tomás Ribeiro, 111, 1050-228 Lisboa, Portugal</a>
      <br/>
      &#128205;&#xFE0E; <a href="https://goo.gl/maps/oCZvnofXFcM2" class="gray link dim">World Trade Center, 17th floor, Khalifa Bin Zayed the First Street, Abu Dhabi, UAE</a>
    </p>
  </div>

  <div class="w-100 ml4-l pl4-l w-40-l bl-l b--near-white">
    <h3 class="f6 fw7 ttu gray lh-title">
      {{ include.partners }}
    </h3>
    <p class="lh-copy gray">
      &#127757;&#xFE0E; <a href="https://portal.oa.pt/" class="gray link dim">Ordem dos Advogados Portuguesa</a>
      <br/>
      &#127758;&#xFE0E; <a href="https://www.oab.org.br/" class="gray link dim">Ordem dos Advogados Brasileira</a>
      <br/>
      &#9875;&#xFE0E; <a href="https://www.investlisboa.com/site/pt/" class="gray link dim">Invest Lisboa</a>
    </p>
  </div>
</div>
