<div class="w-80-l w-100 mt5 pa4 bt b--near-white flex flex-row items-end" id="#contact">
  <div>
    <h3 class="f6 fw7 ttu gray lh-title">
      {{ include.message }}
      &bull; <a href="{{ include.url }}" class="red-al link dim">{{ include.switch }}</a>
    </h3>
    <p class="lh-copy">
      &#9990; <a href="tel:+351210992855" class="gray link dim">+351 210 992 855 (PT)</a>
      <br/>
      &#9990; <a href="tel:+971585623323" class="gray link dim">+971 585 623 323 (UAE)</a>
      <br/>
      &#64; <a href="mailto:contact@azevedolegal.com" class="gray link dim">contact@azevedolegal.com</a>
      <br/>
      &#128205; <a href="https://goo.gl/maps/Rn8tZc11ub42" class="gray link dim">Rua Tomás Ribeiro, 111, 1050-228 Lisboa, Portugal</a>
      <br/>
      &#128205; <a href="https://goo.gl/maps/oCZvnofXFcM2" class="gray link dim">World Trade Center, 17th floor, Khalifa Bin Zayed the First Street, Abu Dhabi, UAE</a>
    </p>
  </div>
</div>
